@using System.Collections;
@model IEnumerable<WatchStore.Models.Product>

@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Product Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="SortByName"><i class="bi bi-sort-alpha-up display-4"></i></a>
    |
    <a asp-action="SortByName"><i class="bi  bi-sort-alpha-down display-4"></i></a>
    |
    <a asp-action="SortByPriceAsc"><i class="bi bi-sort-up display-4"></i></a>
    |
    <a asp-action="SortByPriceDesc"><i class="bi bi-sort-up-alt display-4"></i></a>
</p>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    <img src="@item.ImageUrl" height=200 pixel width=200 pixel />
                </td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.Id">View</a>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
