@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>
<form method="post">
    <div class="card container">
        <div class="card-header bg-primary text-light m-lg-0 row">
            <div class="col-12 col-md-6">
                <h1 class="text-white-50">@Model.Product.Name</h1>
                <p class="text-warning">@Model.Product.Description</p>
            </div>
            <div class="col -12 col-md-6 text-end pt-4">
                <span class="badge bg-info pt-2" style="height:30px;">@Model.Product.Brand</span>
            </div>
        </div>
        <div class="card-body row container">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-8 col-lg-8">
                        <div class="row pl-2">
                            <h5 class="text-muted">Description: @Model.Product.Description</h5>
                        </div>

                        <div class="row pl-2">
                            <h5 class="text-muted pb-2">Price:<strike>@Model.Product.Price.ToString("c")</strike></h5>
                        </div>

                        <div class="row text-center pl-2">
                            <div class="p-1 col-2 bg-secondary border-bottom">
                                <div>Quantity</div>
                            </div>
                            <div class="p-1 col-2 bg-secondary border-bottom">
                                <div>1-50</div>
                            </div>
                            <div class="p-1 col-2 bg-secondary border-bottom">
                                <div>51-100</div>
                            </div>
                            <div class="p-1 col-2 bg-secondary border-bottom">
                                <div>100+</div>
                            </div>
                        </div>

                        <div class="row text-center pl-2" style="color: maroon; font-weight:bold">
                            <div class="p-1 col-2 bg-secondary">
                                <div>Price</div>
                            </div>
                            <div class="p-1 col-2 bg-secondary">
                                <div>@Model.Product.Price</div>
                            </div>
                            <div class="p-1 col-2 bg-secondary">
                                <div>@Model.Product.Price</div>
                            </div>
                            <div class="p-1 col-2 bg-secondary">
                                <div>@Model.Product.Price</div>
                            </div>
                        </div>

                        <div class="row pl-2">
                            <p class="text-secondary">Description</p>
                        </div>
                        <div class="row pl-2">
                            <div class="col-2 text-primary"><h4>Count</h4></div>
                            <input class="form-control" />
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1 text-center">
                            <img srca" width="100%" class="rounded" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <a class="btn btn-success form-control" asp-action="Index" style="height:50px;">Back to List</a>
                </div>
                <div class="col-12 col-md-6 pb-1">
                    <button type="submit" value="Add to Cart" class="transistion btn btn-outline-success" style="height:50px;"
                            asp-route-id="@Model.ProductId" asp-controller="ShoppingCart" asp-action="Add to Cart"
                            asp-route-quantity="@Model.Quantity">
                        <i class="bi bi-basket"> </i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>




